body, html {
    height: fit-content;
    margin:0;
    background-color: rgb(9, 0, 22);
    font-family: "Pixelify Sans", serif;
}

.avatar {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.avatar img {
    border-radius: 100%;
    border: 5px solid rgb(234, 0, 255);
}

.welcome {
    display: flex;
    justify-content: center;
    text-align: center;
}

.welcome_text {
    width: 90%;
    color: rgb(234, 0, 255);
    text-align: center;
    font-weight: 600;
    font-size: 300%;
    background-color: transparent;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    color: rgb(153, 0, 255);
    font-size: 40px;
}

.header p {
    color: rgba(255, 255, 255, 0.733);
    font-size: 30px;
    margin-top: -20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.button {
    width: 40px;
    justify-content: center;
    background: transparent;
    margin: 10px;
}

.footer {
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    bottom: 0;
}

@media only screen and (max-width: 500px) {
    .footer {
        display: none;
    }
  }

.button:hover {
    cursor: pointer;
    width: 50px;
    transition: 0.1s;
}

/* .pan_flag {
    width: 30px;
    border-radius: 4px;
    margin-right: 10px;
} */

/* .about_me .pan {
    color: white;
    font-size: 30px;
    background-image: url(img/pansex_flag.jpg);
    background-size: 20px;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: -20px;
} */